header {
  background-color:black;
  color:white;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  text-align: center;
}

body {
  font-family:Arial,Helvetica,sans-serif;
  background-color:#333333;
  color:white;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  text-align: center;
}

#bandWebsite:link{
	color:blue;
	text-decoration: none;
}

#bandWebsite:visited{
	color:magenta;
	text-decoration: none;
}

#bandWebsite:hover{
	color:blue;
	background-color:yellow;
	text-decoration: underline;
}

#bandWebsite:active{
	color:red;
	text-decoration: none;
}