html {
  height: 100%;
}

header {
  background-color:maroon;
  color:white;
  text-align: center;
}

body {
  background-color:black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  color:white;
}
.mainBody {
  flex: 1;
}

footer{
  color:white;
}

#restName{
	font-family: 'Cinzel'
}

#navBar{
	table-layout:fixed;
	width:300px;
	white-space: nowrap;
	font-size:16pt;
}

.navCell{
	width:100px;
}

.navLink:link{
	color:blue;
	text-decoration: none;
}

.navLink:visited{
	color:magenta;
	text-decoration: none;
}

.navLink:hover{
	color:blue;
	background-color:yellow;
	font-weight: bold;
}

.navLink:active{
	color:red;
	text-decoration: none;
}