html {
  height: 100%;
}

header {
  background-color:maroon;
  color:white;
  text-align: center;
}

body {
  background-color:black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  color:white;
}

.mainBody {
  flex: 1;
}

#restName{
	font-family: 'Cinzel'
}

footer{
  color:white;
}

.navBar{
	list-style-type:none;
	font-size:16pt;
}

.navLink{
	padding:5px 5px 5px 5px;
}

.navLink:link{
	color:blue;
	text-decoration: none;
	
}

.navLink:visited{
	color:magenta;
	text-decoration: none;
}

.navLink:hover{
	color:blue;
	background-color:yellow;
	font-weight: bold;
}

.navLink:active{
	color:red;
	text-decoration: none;
}