html {
  height: 100%;
}

header {
  background-color:maroon;
  color:white;
  text-align: center;
}

body {
  background-color:black;
  color:white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
}

.mainBody {
  flex: 1;
}

/*footer{
  color:white;
}*/

#restName{
	font-family: 'Cinzel', Helvetica, sans-serif;
}